body{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    min-height: 100vh; 
    margin: 0; 
}

main{
    margin:auto;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
}

.profile-window{
    background:var(--darkblue);
    display: flex;
    flex-direction: column;
	box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
	border-radius: 8px;
	width: 600px;
	padding: 1rem;
	box-sizing: border-box;
    margin:1rem;
}

/* upper profile side */

.credentials{
    display:flex;
    flex-direction:row;
    margin-bottom:1rem;
    color:white;
}

.avatar{
    border-radius:50%;
    margin-right:2rem;
}

.user-password{
    display:none;
}

.user-username{
    margin-bottom:0.5rem;
}

.password-space{
    display:flex;
    flex-direction:row;
}

/* review section */

.user-games-reviews{
    display:flex;
    flex-direction:column;
}

.review-section-title, .game-section-title{
    margin-left:1rem;
    font-size:large;
    font-weight: bold;
}

.review{
    margin:1rem;
    background:white;
    color:black;
    border-radius:6px;
    padding:1rem;
}

.review-text{
    margin-top:0.5rem;
    font-weight:bold;
}

/* games section */


.games-section{
    margin-top:1rem;
}

.game-section-captions{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}

.game-add-button:hover, .edit-game-button:hover{
    cursor:pointer;
    text-decoration: underline;
}

.game{
    display:flex;
    flex-direction: column;
    text-align: center;
    background-color:var(--darkblue);
    border-radius: 8px;
    margin:1rem;
    max-width:130px;
    justify-content: space-between;
}

.game-title{
    font-weight:bold;
    margin:0.5rem;
}

.user-profile-games{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
}

/* ----------------------------- */

.game-form-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background:var(--darkblue);
    padding: 2rem;
    border-radius:5px;
    z-index: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color:white;
}

.game-form-popup label, .game-form-popup textarea, .game-form-popup button, .game-form-popup input {
    display: block;
    margin:1rem;
}


.game-form-popup textarea {
    background:white;
    color:black;
    border-radius:3px;
}

.gameDesc{
    height:5rem;
}

.game-form-popup button {
    background-color: var(--background);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius:6px;
}

.game-form-popup button:hover {
    background-color: var(--background);
}

.close-form-button:hover{
    cursor:pointer;
}

.close-form-button{
    font-size:large;
    width:1rem;
}

.edit-form-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background:var(--darkblue);
    padding: 2rem;
    border-radius:5px;
    z-index: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color:white;
}

.edit-form-popup label, .edit-form-popup textarea, .edit-form-popup button, .edit-form-popup input {
    display: block;
    margin:1rem;
}


.edit-form-popup textarea {
    background:white;
    color:black;
    border-radius:3px;
}


.edit-form-popup button {
    background-color: var(--background);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius:6px;
}

.edit-form-popup button:hover {
    background-color: var(--background);
}

.close-edit-button:hover{
    cursor:pointer;
}

.close-edit-button{
    font-size:large;
    width:1rem;
}

.overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

.review-captions{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}


@media screen and (max-width: 768px) {
    .profile-window {
        width: 100%; /* Adjust the width for smaller screens */
    }

    .credentials {
        flex-direction: column; /* Stack the avatar and user data vertically on smaller screens */
        align-items: center;
        text-align: center;
    }

    .user-password {
        display: block; /* Display the password on smaller screens */
    }
}