.main {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
    flex:1;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

.register-window {
	background: var(--darkblue);
	display: flex;
	flex-direction: column;
	box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
	border-radius: 8px;
	width: 400px;
	padding: 1rem;
	box-sizing: border-box;
}

.register-window input {
	height: 48px;
	border: var(--border);
	font-size: 20px;
	padding-left: 1rem;
	margin-top: 1rem;
	box-sizing: border-box;
    border-radius: 6px;
}

input.invalid-field {
	border-bottom: 2px solid red;
}

.login-form {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	box-sizing: border-box;
}

.register-btn {
	height: 48px;
	background: var(--background);
	color: white;
	border: none;
	border-radius: 6px;
	margin-top: 1rem;
	font-size: 1.25rem;
    cursor:pointer;
}

.create-account-wrapper {
	padding: 1rem;
	box-sizing: border-box;
	text-align: center;
	border-top: 1px solid grey;
}

.create-account-wrapper button {
	height: 48px;
	box-sizing: border-box;
	border-radius: 6px;
	background-color: #42b72a;
	border: none;
	width: 80%;
	margin: auto;
}

.create-account-wrapper button {
	color: white;
	font-weight: bold;
	text-decoration: none;
	font-size: 18px;
}

.register-error {
	margin-left: 1rem;
	color: red;
}


